*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  background-color: #773242; }

.nav-links a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #FEFEFD;
  text-decoration: none; }

.contact-logo-text h4 {
  font-size: 17px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  letter-spacing: 1px; }

.contact-logo-text h5 {
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px; }

.contact-logo-text p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }

.main-testimonial h4 {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .3px;
  margin: 0;
  line-height: 23px; }

.main-testimonial p {
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #B0B9C9;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px; }

.view-more {
  font-size: 23px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  width: 100%; }

.footer p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 2px; }

.footer p:nth-child(2) {
  margin-left: 20px; }

.footer p:nth-child(3) {
  margin-left: 20px; }

.testimonial-heading-text {
  font-size: 39px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }

.feat-testimonial-1 p {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif; }

.feat-testimonial-2 p {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif; }

.feat-testimonial-3 p {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif; }

ul {
  list-style: none;
  padding-left: 8px; }

ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 300;
  color: #363E49;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -3px; }

ul li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  color: #638E32;
  font-family: 'Source Sans Pro', sans-serif; }

ul li:nth-child(3) {
  font-size: 12px;
  font-weight: 300;
  color: #363E49;
  font-family: 'Source Sans Pro', sans-serif; }

.main-container {
  max-width: 980px;
  background-color: #773242;
  margin: auto; }

.contact-logo-text {
  float: right;
  position: absolute;
  text-align: right;
  line-height: 15px;
  margin-top: 26px;
  margin-left: 765px; }

.main-body-container {
  max-width: 734px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.main-image {
  background-image: url("../img/main-picture.png");
  width: 556px;
  height: 325px;
  background-size: cover;
  background-position: center;
  margin-top: 27px; }

.erin-shot {
  background-image: url("../img/erin.png");
  width: 158px;
  height: 201px;
  background-size: cover;
  background-position: center;
  margin-top: 27px; }

.main-testimonial {
  float: right;
  position: absolute;
  width: 160px;
  text-align: center;
  margin-left: 570px;
  margin-top: 230px; }

.search-pic {
  background-image: url("../img/portland.png");
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px; }

.favorites-pic {
  background-image: url("../img/house2.png");
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px; }

.map-pic {
  background-image: url("../img/map.png");
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px; }

.feat-testimonial-1 {
  width: 100%;
  border: 1px solid #FEFEFD;
  background-color: #A04E61;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 23px;
  padding-left: 17px;
  padding-right: 17px; }

.feat-testimonial-2 {
  width: 100%;
  border: 1px solid #FEFEFD;
  background-color: #A04E61;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 21px;
  padding-left: 17px;
  padding-right: 17px; }

.feat-testimonial-3 {
  width: 100%;
  border: 1px solid #FEFEFD;
  background-color: #A04E61;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 21px;
  padding-left: 17px;
  padding-right: 17px; }

.testimonial-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 58px; }

.listing1 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing1-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-1.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing2 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing2-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-2.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing3 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing3-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-3.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing4 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing4-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-4.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing5 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing5-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-5.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing6 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing6-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-6.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing7 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing7-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-7.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing8 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing8-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-8.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing9 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing9-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-9.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing10 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing10-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-10.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing11 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing11-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-11.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.listing12 {
  width: 218px;
  height: 250px;
  background-color: #FEFEFD;
  border-radius: 3px;
  box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.5);
  margin-top: 26px; }

.listing12-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url("../img/listing-12.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px; }

.footer {
  width: 100%;
  height: 20px;
  background-color: #363E49;
  margin-top: 25px;
  display: flex;
  justify-content: center; }

.header {
  width: 100%;
  height: 8.804em; }

.top-heading {
  height: 6.848em;
  width: 100%;
  background-color: #773242;
  display: flex;
  justify-content: space-between; }

.nav-bar {
  height: 1.956em;
  width: 100%;
  background-color: #363E49; }

.nav-links {
  max-width: 734px;
  height: 1.956em;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search-nav {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid rgba(254, 254, 253, 0.17); }

.search-dropdowns {
  max-width: 734px;
  height: 47px;
  margin: auto;
  display: flex;
  justify-content: space-around; }

.search-pic:after {
  content: 'Search Properties';
  text-align: center;
  font-size: 16px;
  color: #231F20;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: rgba(176, 185, 201, 0.71);
  position: absolute;
  margin-left: 3px;
  margin-top: 1px; }

.favorites-pic:after {
  content: "Erin's Favorite Properties";
  text-align: center;
  font-size: 16px;
  color: #231F20;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: rgba(176, 185, 201, 0.71);
  position: absolute;
  margin-left: 3px;
  margin-top: 1px; }

.map-pic:after {
  content: 'Map View';
  text-align: center;
  font-size: 16px;
  color: #231F20;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: rgba(176, 185, 201, 0.71);
  position: absolute;
  margin-left: 3px;
  margin-top: 1px; }

.view-listings-button {
  height: 28px;
  margin-top: -5px;
  margin-left: -35px;
  position: absolute; }

.load-more {
  font-size: 23px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FEFEFD;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 28px;
  text-align: center;
  text-decoration: underline;
  width: 100%; }

.search-nav img {
  height: 34px;
  margin-top: 6px; }

.main-logo {
  max-width: 449px;
  align-self: center;
  margin-left: -140px;
  margin-bottom: 10px; }

.contact-logo {
  max-width: 175px;
  max-height: 55px;
  margin-right: 30px;
  margin-top: 20px; }

.premiere-logo {
  max-width: 173px;
  align-self: center;
  margin-left: 30px; }

.left-line {
  width: 212px;
  height: 1px;
  background-color: #FEFEFD;
  margin-top: 28px; }

.right-line {
  width: 212px;
  height: 1px;
  background-color: #FEFEFD;
  margin-top: 28px; }

/*# sourceMappingURL=application.css.map */
