.content-md {
  background-color: #363E49;
}

.content-ios {
  background-color: #363E49;
}

.toolbar-background-md {
  background-color: #363E49;
}

.toolbar-background-ios {
  background-color: #363E49;
}

.item-md {
  background-color: #773242;
}

.item-ios {
  background-color: #773242;
}

.menu-inner {
  width: 225px;

  .label-md {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .label-ios {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .toolbar-title-md {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .toolbar-title-ios {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }

}
