.main-container {
  max-width: 980px;
  background-color: $red;
  margin: auto;
}

.contact-logo-text {
  float: right;
  position: absolute;
  text-align: right;
  line-height: 15px;
  margin-top: 26px;
  margin-left: 765px;
}
