.main-container {
  max-width: 980px;
  background-color: $red;
  margin: auto;
}

.contact-logo-text {
  float: right;
  position: absolute;
  text-align: right;
  line-height: 15px;
  margin-top: 26px;
  margin-left: 765px;
}

.main-body-container {
  max-width: 734px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-image {
  background-image: url('../img/main-picture.png');
  width: 556px;
  height: 325px;
  background-size: cover;
  background-position: center;
  margin-top: 27px;
}

.erin-shot {
  background-image: url('../img/erin.png');
  width: 158px;
  height: 201px;
  background-size: cover;
  background-position: center;
  margin-top: 27px;
}

.main-testimonial {
  float: right;
  position: absolute;
  width: 160px;
  text-align: center;
  margin-left: 570px;
  margin-top: 230px;
}

.search-pic {
  background-image: url('../img/portland.png');
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}

.favorites-pic {
  background-image: url('../img/house2.png');
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}

.map-pic {
  background-image: url('../img/map.png');
  width: 206px;
  height: 206px;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}

.feat-testimonial-1 {
  width: 100%;
  border: 1px solid $off-white;
  background-color: $light-red;
  box-shadow: 0px 2px 4px $header-shadow;
  margin-top: 23px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
}

.feat-testimonial-2 {
  width: 100%;
  border: 1px solid $off-white;
  background-color: $light-red;
  box-shadow: 0px 2px 4px $header-shadow;
  margin-top: 21px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
}

.feat-testimonial-3 {
  width: 100%;
  border: 1px solid $off-white;
  background-color: $light-red;
  box-shadow: 0px 2px 4px $header-shadow;
  margin-top: 21px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
}

.testimonial-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 58px;
}


// listings

.listing1 {
  width: 218px;
  height: 250px;
  background-color: $off-white;
  border-radius: 3px;
  box-shadow: 3px 4px 21px $header-shadow;
}

.listing1-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url('../img/listing-1.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px;
}

.listing2 {
  width: 218px;
  height: 250px;
  background-color: $off-white;
  border-radius: 3px;
  box-shadow: 3px 4px 21px $header-shadow;
}

.listing2-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url('../img/listing-2.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px;
}
.listing3 {
  width: 218px;
  height: 250px;
  background-color: $off-white;
  border-radius: 3px;
  box-shadow: 3px 4px 21px $header-shadow;
}

.listing3-img {
  width: 200px;
  height: 117px;
  border-radius: 2px;
  background-image: url('../img/listing-3.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8px;
}
