@media #{$brk-default} {
  .footer {
    width: 100%;
    height: 30px;
    background-color: $main-dark;
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
@media #{$brk-med} {
  .footer {
    width: 100vw;
    margin-left: -10px;
    margin-bottom: -10px;
    height: 30px;
    background-color: $main-dark;
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
@media #{$brk-mobile} {
  .footer {
    width: 100vw;
    margin-bottom: -10px;
    height: 30px;
    background-color: $main-dark;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-self: flex-end;

  }
}
