.search-pic:after {
  content: 'Search Properties';
  text-align: center;
  font-size: 16px;
  color: $dark-text;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: $blue-heading;
  position: absolute;
  margin-left: 3px;
  margin-top: 1px;
}

.favorites-pic:after {
  content: 'Erin'+"'"+'s Favorite Properties';
  text-align: center;
  font-size: 16px;
  color: $dark-text;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: $blue-heading;
  position: absolute;
  margin-left: 3px;
  margin-top: 1px;
}

.map-pic:after {
  content: 'Map View';
  text-align: center;
  font-size: 16px;
  color: $dark-text;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5px;
  width: 200px;
  height: 32px;
  background-color: $blue-heading;
  position: absolute;
  margin-left: 3px;
  margin-top: 1px;
}

.view-listings-button {
  height: 28px;
  margin-top: -5px;
  margin-left: -35px;
  position: absolute;
}

.load-more {
  font-size: 23px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin: auto;
  margin-top: 28px;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.view-more {
  font-size: 23px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.search-nav img {
  height: 34px;
  margin-top: 6px;
}

form.search-bar {

  position: relative;

  input[type=search] {
    appearance: none;
    background-color: $off-white;
    border-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 7px;
    height: 30px;
    position: relative;
    transition: border-color;
    width: 234px;
    padding: 5px;
    padding-left: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  }

  button[type=submit] {
    @include position(absolute, 0 1 0 null);
    outline: none;
    padding: 5px 5px;
    height: 30px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 3px 0px 0px 3px;
    background-color: transparent;
    border-color: transparent;

    img {
      height: 13px;
      opacity: 0.7;
      margin-top: 7px;
    }
  }
}







.dropdown {

  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $dropdown-border: 1px solid darken($red, 5%);
  $dropdown-inner-border: 1px solid darken($red, 5%);
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 40px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
    min-width: 83.78px;
    height: 30px;
  }

  .dropdown-button {
    background: $light-red;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 2px;
    padding-right: 10px;
    margin: 0;
    position: relative;
    margin-top: 7px;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
  }

  .dropdown-button:hover {
    background-color: lighten($light-red, 12%);
  }

  .dropdown-button::after {
    margin-top: 1px;
    color: $off-white;
    content: "\25BF";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
  }

  .dropdown-menu {
    background: $light-red;
    border: $dropdown-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $off-white;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    transition: all 0.2s ease-in-out;
    width: 83.78px;
    z-index: 99999;
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $off-white;
    list-style: none;
    padding: $dropdown-padding / 2;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    height: 34px;
  }

  .dropdown-menu li:hover {
    background: $off-white;
    color: $main-dark;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}

.expander {
  $action-color: #477DCA !default;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  margin: auto;
  width: 100%;

  .expander-trigger {
    color: $action-color;
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-decoration: none;
    user-select: none;
  }


  .expander-hidden + .expander-content {
    display: none;
  }

  .expander-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
