.main-logo {
  max-width: 449px;
  align-self: center;
  margin-left: -140px;
  margin-bottom: 10px;
}

.contact-logo {
  max-width: 175px;
  max-height: 55px;
  margin-right: 30px;
  margin-top: 20px;
}

.premiere-logo {
  max-width: 173px;
  align-self: center;
  margin-left: 30px;
}
