*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $red;
}

.nav-links a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: $off-white;
  text-decoration: none;
}

.contact-logo-text h4 {
  font-size: 17px;
  font-weight: bold;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}

.contact-logo-text h5 {
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px;
}

.contact-logo-text p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.main-testimonial h4 {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .3px;
  margin: 0;
  line-height: 23px;
}

.main-testimonial p {
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $light-grey;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px;
}

.footer p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 2px;
}

.footer p:nth-child(2){
  margin-left: 20px;
}

.footer p:nth-child(3){
  margin-left: 20px;
}

.testimonial-heading-text {
  font-size: 39px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.feat-testimonial-1 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

.feat-testimonial-2 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

.feat-testimonial-3 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  padding-left: 8px;
}

ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 300;
  color: $main-dark;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -3px;
}

ul li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  color: $cash;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li:nth-child(3) {
  font-size: 12px;
  font-weight: 300;
  color: $main-dark;
  font-family: 'Source Sans Pro', sans-serif;
}
