*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $red;
}

.nav-links a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: $off-white;
  text-decoration: none;
  text-align: center;
}


@media #{$brk-default} {

  .contact-logo-text h4 {
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    letter-spacing: 1px;
  }

  .contact-logo-text h5 {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
  }

  .contact-logo-text p {
    font-size: 10px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }

  .main-testimonial h4 {
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .3px;
    margin: 0;
    line-height: 23px;
  }

  .main-testimonial p {
    font-size: 13px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $light-grey;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
  }

  .footer p {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 4px;
  }

  .footer p:nth-child(2){
    margin-left: 20px;
  }

  .footer p:nth-child(3){
    margin-left: 20px;
  }

  .testimonial-heading-text {
    font-size: 39px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }

  .feat-testimonial-1 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .feat-testimonial-2 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .feat-testimonial-3 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  ul {
    list-style: none;
    padding-left: 8px;
  }

  ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 300;
    color: $main-dark;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -3px;
  }

  ul li:nth-child(2) {
    font-size: 22px;
    font-weight: 700;
    color: $cash;
    font-family: 'Source Sans Pro', sans-serif;
  }

  ul li:nth-child(3) {
    font-size: 12px;
    font-weight: 300;
    color: $main-dark;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

@media #{$brk-med} {
  ul {
    list-style: none;
    padding-left: 8px;
  }

  ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 300;
    color: $main-dark;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -3px;
  }

  ul li:nth-child(2) {
    font-size: 22px;
    font-weight: 700;
    color: $cash;
    font-family: 'Source Sans Pro', sans-serif;
  }

  ul li:nth-child(3) {
    font-size: 12px;
    font-weight: 300;
    color: $main-dark;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .main-testimonial h4 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    margin: 0;
  }

  .main-testimonial p {
    font-size: 22px;
    font-weight: 700;
    text-shadow: 0px 2px 4px  darken($header-shadow, 30%);
    color: lighten($light-grey, 10%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
  }
  .testimonial-heading-text {
    font-size: 39px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }
  body {
    padding: 10px;
  }
  .feat-testimonial-1 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .feat-testimonial-2 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .feat-testimonial-3 p{
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .nav-links {
    a:nth-child(3){
      visibility: hidden;
      position: absolute;
    }
    a:nth-child(4){
      visibility: hidden;
      position: absolute;
    }
    a:nth-child(5){
      visibility: hidden;
      position: absolute;
    }
  }
  .footer p {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 4px;
  }

  .footer p:nth-child(2){
    margin-left: 20px;
  }

  .footer p:nth-child(3){
    margin-left: 20px;
  }
  html {
    max-width: 979px;
    overflow-x: hidden;
  }
}

@media #{$brk-mobile} {

  html {
    max-width: 569px;
    overflow-x: hidden;
  }
  body {
    height: auto;
  }

  .contact-logo-text h4 {
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    visibility: collapse;
    position: absolute;
  }

  .contact-logo-text h5 {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
    visibility: collapse;
    position: absolute;
  }

  .contact-logo-text p {
    font-size: 10px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    visibility: collapse;
    position: absolute;
  }
  .testimonial-heading-text {
    font-size: 0px;
    visibility: hidden;
  }
  .main-testimonial h4 {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    margin: 0;
  }

  .main-testimonial p {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 2px 4px  darken($header-shadow, 30%);
    color: lighten($light-grey, 10%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
  }
  .footer p {
    font-size: 11px;
    font-weight: 300;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: -5px;
  }

  .footer p:nth-child(2){
    margin-left: 5px;
  }

  .footer p:nth-child(3){
    margin-left: 5px;
  }
}

@media #{$brk-phone} {

  html {
    max-width: 569px;
  }
  body {
    height: auto;
  }

  .contact-logo-text h4 {
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    visibility: collapse;
    position: absolute;
  }

  .contact-logo-text h5 {
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
    visibility: collapse;
    position: absolute;
  }

  .contact-logo-text p {
    font-size: 10px;
    font-weight: 300;
    text-shadow: 0px 2px 4px $header-shadow;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    visibility: collapse;
    position: absolute;
  }
  .testimonial-heading-text {
    font-size: 0px;
    visibility: hidden;
  }
  .main-testimonial h4 {
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 3px black;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    line-height: 60px;
  }

  .main-testimonial p {
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0px 2px 4px  darken($header-shadow, 30%);
    color: lighten($light-grey, 10%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 5px;
  }
  .footer p {
    font-size: 20px;
    font-weight: 300;
    color: $off-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-top: 0px;
  }

  .footer p:nth-child(2){
    margin-left: 14px;
  }

  .footer p:nth-child(3){
    margin-left: 14px;
  }
}
