*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $red;
}

.nav-links a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: $off-white;
  text-decoration: none;
}

.contact-logo-text h4 {
  font-size: 17px;
  font-weight: bold;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}

.contact-logo-text h5 {
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px;
}

.contact-logo-text p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.main-testimonial h4 {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .3px;
  margin: 0;
  line-height: 23px;
}

.main-testimonial p {
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $light-grey;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 5px;
}

.view-more {
  font-size: 23px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.footer p {
  font-size: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: 2px;
}

.footer p:nth-child(2){
  margin-left: 20px;
}

.footer p:nth-child(3){
  margin-left: 20px;
}

.testimonial-heading-text {
  font-size: 39px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.feat-testimonial-1 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

.feat-testimonial-2 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

.feat-testimonial-3 p{
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0px 2px 4px $header-shadow;
  color: $off-white;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  padding-left: 8px;
}

ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 300;
  color: $main-dark;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -3px;
}

ul li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  color: $cash;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li:nth-child(3) {
  font-size: 12px;
  font-weight: 300;
  color: $main-dark;
  font-family: 'Source Sans Pro', sans-serif;
}




.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;



    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before {
      @include position(absolute, 3px 3px 0 50%);
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      background: darken($modal-close-color, 10%);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    background: $modal-background;
    border-radius: $base-border-radius;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity 0.25s ease;
    width: 95%;





    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}

// Based on code by Kasper Mikiewicz
