// Colors

$red            : #773242;
$main-dark      : #363E49;
$off-white      : #FEFEFD;
$faded-white    : rgba(254, 254, 253, .17);
$header-shadow  : rgba(0, 0, 0, .5);
$light-grey     : #B0B9C9;
$light-red      : #A04E61;
$blue-heading   : rgba(176, 185, 201, .71);
$dark-text      : #231F20;
$cash           : #638E32;
$link-blue      : #7CAAFC;
